
{% block body %}
	{% for banner in banners %}
		<div id="conten-banners">
			<div class="cell">
				<a href="{{ path('show_banner', {'id' : banner.id }) }}">
				<img id="newImages" class="marginFrame" src="{{ url('index') }}../../{{ banner.imageurl }}" style="width: 16rem ! important; height: 7rem ! important;">	
				</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}