{% block body %}  
	<div class="cell">
		<h1><span class="mif-blocked"></span> Banners no Encontrados</h1>
		<h3>¡Ouh! No existen o no estan publicados los Banners.</h3>
		<img id="newImages" class="marginFrame" src="{{asset('images/noImages.jpg')}}">
	</div>
{% endblock %}
