	@media only screen and (min-width: 150px) {
	.banners-container {
		display: block !important; 
		position: fixed !important; 
		left: 1rem !important;
		width: 250px !important;
	}
}
	@media only screen and (min-width: 300px) {
	.banners-container {
		display: block !important; 
		position: fixed !important; 
		left: 7rem !important;
		width: 17.2rem !important;
	}
}
	@media only screen and (min-width: 600px) {
	.banners-container {
		display: block !important; 
		position: fixed !important; 
		left: 12rem !important;
		width: 300px !important;
	}
}
	@media only screen and (min-width: 900px) {
	.banners-container {
		display: block !important; 
		position: fixed !important; 
		left: 20rem !important;
		width: 323px !important;
	}
}
	@media only screen and (min-width: 1200px) {
	.banners-container {
		display: block !important; 
		position: fixed !important; 
		left: 24rem !important;
		width: 323px !important;
	}
}

	@media only screen and (min-width: 150px) {
	.buscador-container {
		position: absolute;
		width: 10rem; 
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	}

	@media only screen and (min-width: 300px) {
	.buscador-container {
		position: absolute;
		width: 18rem; 
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	}

	@media only screen and (min-width: 600px) {
	.buscador-container {
		position: absolute;
		width: 22rem; 
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	}

	@media only screen and (min-width: 900px) {
	.buscador-container {
		position: absolute;
		width: 22rem; 
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		margin-left: 8em;
	}

	@media only screen and (min-width: 1200px) {
	.buscador-container {
		position: absolute;
		width: 17rem; 
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		margin-left: 8em;
	}

	.buscador-container li:hover {
		background-color: #C2BEBE;
		color: white;
	}
	.buscador-container li a:hover {
		color: white;
	}