<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <br>
        <input style="margin-bottom: 4rem;" type="submit" class="success" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
<script>

$(function(){
	    $("#fos_user_profile_form_location").select2({
	        allowClear: true
	      });
	  });
</script>